# **/doc/api/
# **/ios/Flutter/.last_build_id
.dart_tool/
# .flutter-plugins
# .flutter-plugins-dependencies
# .packages
# .pub-cache/
# .pub/
/build/
# /linux
# /macos
# /windows
# /.metadata
# /analysis_options.yaml
# /pubspec.lock
# /README.md
# /test
# /web
# /ios
# /android
# /.vscode